# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Logs
logs
*.log

# OS
.DS_Store

# IDE
.fleet
.idea
.vscode

# Environment files
.env
.env.*
!.env.example

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Misc
README.md
